* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vh;
}

body {
  background-color: #F6F7EB;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  padding: 0;
  min-height: 100vh;
}

#app > header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  background-color: #353835;
  min-height: 5vh;
  border-bottom: 5px solid #242423;
  margin-bottom: 10px;
}

#app > header * {
  color: #F6F7EB;
}

#app > header a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
}

.active-tab {
  background-color: #242423;
}

.menu-button {
  padding: 10px 10px 10px 10px;
  align-self: center;
}

.navbar-tabs {
  display: none;
  flex-direction: column;
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #353835;
}

.navbar-container {
  display: flex;
}

.navbar-brand {
  margin: auto 0 auto 10px;
}

.page {
  display: flex;
  margin: 0 auto;
  flex: 1;
  flex-direction: column;
}

.splash {
  display: flex;
  align-self: center;
  align-items: center;
  flex: 1;
  font-size: 9vw;
}

#app > footer {
  background-color: #E94F37;
  height: 5vh;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
  }

  .navbar-tabs {
    display: flex;
    height: 100%;
    flex-direction: row;
  }

  #app > header li {
    margin-right: 10px;
    display: flex;
    transition: .3s;
  }

  #app > header li:hover {
    background-color: #2D2C2C;
  }

  #app > header li:active {
    background-color: #242423;
    transition: none;
  }

  #app > header a {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
  }

  .menu-button {
    display: none
  }

  .splash {
    font-size: 10vh;
  }
}
